<div *ngIf="openDiaglog">
  <app-customer-create [customer]="customer" [isUpdate]="isUpdate" [dateTime]="dateTime"></app-customer-create>

</div>

<div class="d-flex">
  <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" (click)="add()">
    <i class="fas fa-plus"></i>
    Add new</button>
  <div class="form-group form-inline mb-0">
    <input type="text" class="form-control" placeholder="Search in clients" [(ngModel)]="filter">
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover small">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col" (click)="sortBy('name')">
          <span>Name</span>
          <i class="fas i-sort" [ngClass]="sortIcon('name')"></i>
        </th>
        <!-- <th scope="col" (click)="sortBy('gender')">
          <span>Gender</span>
          <i class="fas i-sort" [ngClass]="sortIcon('gender')"></i>
        </th> -->
        <th scope="col" (click)="sortBy('birthday')">
          <span>Birthday</span>
          <i class="fas i-sort" [ngClass]="sortIcon('birthday')"></i>
        </th>
        <th scope="col" (click)="sortBy('email')">
          <span>Email</span>
          <i class="fas i-sort" [ngClass]="sortIcon('email')"></i>
        </th>
        <th scope="col" (click)="sortBy('phone')">
          <span>Phone</span>
          <i class="fas i-sort" [ngClass]="sortIcon('phone')"></i>
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customerSorted | filter: filter | paginate: paginateConfig; let i = index">
        <th width="50px" scope="row">{{i+1}}</th>
        <td width="200px">{{ item.name }}</td>
        <!-- <td width="100px">{{ item.gender }}</td> -->
        <td width="120px">{{ formatDate(item.birthday) }} </td>
        <td width="120px">{{ item.email }}</td>
        <td width="120px">{{ item.phone }}</td>
        <td width="150px" class="text-center">
          <button class="btn btn-info btn-sm mr-1" data-toggle="modal" data-target="#exampleModal" (click)="edit(item.fullData)">
            <i class="fas fa-edit"></i> Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="delete(item)">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="paginator" (pageChange)="onPageChange($event)" style="text-align: center;" [responsive]="true"></pagination-controls>
</div>
