<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i>
  Add new</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" data-toggle="validator" role="form">
          <div class="form-group" [ngClass]="{
            'has-success': nameEmployee.valid,
            'has-error': nameEmployee.invalid && (nameEmployee.dirty || nameEmployee.touched)}">
            <label for="name">Name: <span class="k-required">*</span></label>
            <input type="text" class="form-control" id="nameEmployee" placeholder="Enter employee's name" [(ngModel)]="employee.name"
              name="nameEmployee" #nameEmployee="ngModel" required>
            <div [hidden]="nameEmployee.valid || nameEmployee.pristine" class="alert alert-danger">
              <strong>Please enter employee's name</strong>
            </div>
          </div>

          <div class="form-group" [ngClass]="{
            'has-success': username.valid,
            'has-error': username.invalid && (username.dirty || username.touched)}">
            <label for="name">Username: <span class="k-required">*</span></label>
            <input type="text" class="form-control" id="username" placeholder="Enter employee's username" [(ngModel)]="user.username"
              name="username" #username="ngModel" required [disabled]="isUpdate">
            <div [hidden]="nameEmployee.valid || nameEmployee.pristine" class="alert alert-danger">
              <strong>Please enter employee's name</strong>
            </div>
          </div>

          <div class="form-group" [ngClass]="{
            'has-success': role.valid,
            'has-error': role.invalid && (role.dirty || role.touched)}">
            <label for="name">Role: <span class="k-required">*</span></label>
            <select class="form-control" name="role" placeholder="Select a role" [(ngModel)]="user.roleKey" #role="ngModel"
              required>
              <option [value]="item.value" *ngFor="let item of roles">{{item.title}}</option>
            </select>
            <div [hidden]="nameEmployee.valid || nameEmployee.pristine" class="alert alert-danger">
              <strong>Please enter employee's name</strong>
            </div>
          </div>

          <div class="form-group">
            <label>Birthday: <span class="k-required">*</span></label>
            <input class="form-control" type="date" id="birthday" [(ngModel)]="dateTime" name="birthday" #birthday="ngModel"
              required>
            <div [hidden]="birthday.valid || birthday.pristine" class="alert alert-warning">
              <strong>You should enter employee's birthday!!</strong>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="mr-3">Gender: <span class="k-required">*</span></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="male" id="male" value="Male" [(ngModel)]="employee.gender">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="female" id="female" value="Female" [(ngModel)]="employee.gender">
              <label class="form-check-label" for="female">Female</label>
            </div>
          </div> -->

          <div class="form-group" [ngClass]="{
          'has-success': email.valid,
          'has-warning': email.invalid && (email.dirty || email.touched)
        }">
            <label>Email: <span class="k-required">*</span></label>
            <input class="form-control" type="email" id="input_Email" placeholder="you@example.com" [(ngModel)]="employee.email"
              name="email" #email="ngModel" required email>
            <div [hidden]="email.valid || email.pristine" class="alert alert-warning">
              <strong>Please enter a valid email </strong>
              <p>Example: you@example.com</p>
            </div>
          </div>

          <div class="form-group" [ngClass]="{
          'has-success': phone.valid,
          'has-warning': phone.invalid && (phone.dirty || phone.touched)
        }">
            <label>Phone: <span class="k-required">*</span></label>
            <input class="form-control" type="phone" id="input_Phone" placeholder="Phone" [(ngModel)]="employee.phone"
              name="phone" #phone="ngModel" required length="10" pattern="[0-9]{10}">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-warning">
              <strong>Phone must be at least 10 number [0-9] and begin number 0 or +</strong>
              <p>Example: 0912345678</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="submit()" [disabled]="addForm.invalid">{{isUpdate
              ? 'Update' : 'Add' }}</button>
            <!-- <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="add()">Add</button> -->
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
