<div class="limiter">
  <div class="container-login" style="background-image: url('./../../assets/images/bg-login.jpg');">
    <div class="card card-container">
      <p id="profile-name" class="profile-name-card">Account Login</p>
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" [src]="'./../../assets/images/logo-app.png'" />

      <form class="form-signin" [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group">
        
          <input type="text" id="inputUsername" class="form-control radius" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required pattern="^[a-zA-Z0-9]*$">
        </div>
        <div class="form-group">
          <input type="password" id="inputPass" class="form-control radius" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required pattern="^[a-zA-Z0-9]{6,}$">
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="login()">Sign in</button>
      </form>
      <!-- <a href="#" class="forgot-password">
              Forgot the password?
          </a> -->
    </div><!-- /card-container -->
  </div><!-- /container -->-
</div>