<!-- <app-employee-create (submit)="addEvent($event)" [employee]="employee" [isUpdate]="isUpdate"></app-employee-create>
<div class="d-flex">
  <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" (click)="add()">
    <i class="fas fa-plus"></i>
    Add new</button>
  <div class="form-group form-inline mb-0">
    <input type="text" class="form-control" placeholder="Search in staffs" [(ngModel)]="filter">
  </div>
</div> -->

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th (click)="sortBy('customer.name')">
          <span>Client's Name</span>
          <i class="fas i-sort" [ngClass]="sortIcon('customer.name')"></i>
        </th>
        <th (click)="sortBy('customer.email')">
          <span>Client's Email</span>
          <i class="fas i-sort" [ngClass]="sortIcon('customer.email')"></i>
        </th>
        <th (click)="sortBy('employee.name')">
          <span>Seller</span>
          <i class="fas i-sort" [ngClass]="sortIcon('employee.name')"></i>
        </th>
        <th (click)="sortBy('totalPrice')">
          <span>Total Payment</span>
          <i class="fas i-sort" [ngClass]="sortIcon('totalPrice')"></i>
        </th>
        <th (click)="sortBy('createdDate')">
          <span>Created Time</span>
          <i class="fas i-sort" [ngClass]="sortIcon('createdDate')"></i>
        </th>
        <!-- <th class="text-center">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSorted | filter: filter | paginate: paginateConfig; let i = index">
        <th width="50px" scope="row">{{i+1}}</th>
        <td width="200px">{{ item?.customer?.name }}</td>
        <td width="120px">{{ item?.customer?.email }}</td>
        <td width="200px">{{ item?.employee?.name }} </td>
        <td width="120px">{{ item?.totalPrice | currency }}</td>
        <td width="150px">{{ item?.createdDate }}</td>
        <!-- <td width="200px" class="text-center">
          <button class="btn btn-info btn-sm mr-1" data-toggle="modal" data-target="#exampleModal" (click)="edit(item)">
            <i class="fas fa-edit"></i> Edit
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
  <pagination-controls id="paginator" (pageChange)="onPageChange($event)" style="text-align: center;" [responsive]="true"></pagination-controls>
</div>
